html {
  font-size: 16px;
  font-family: 'Libre Baskerville', serif;
  background-color: #134e85;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #dae1e9;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

h1 {
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #00539F;
  text-shadow: 3px 3px 1px black;
}
h2 {
  font-size: 20px;
  text-align: center;
}

p {
  line-height: 2;
  letter-spacing: 1px;
}

li {
  line-height: 2;
  letter-spacing: 1px;
}

#votingTopic {
  font-size: 30px;
  text-align: center;
}



/*img {
  display: block;
  margin: 0 auto;
}*/

button {
  text-align: center;
}

form {
  text-align: left;
  line-height: 2;
  letter-spacing: 1px;
}

/* NAV MENU */

#navMenu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #68a6d8;
  text-align:center;
  position: fixed;
  top: 0;
  right: 0;
  overflow: auto; 
}

#navMenu a {
  display: block;
  color: rgb(50, 31, 122);
  padding: 8px 16px;
  text-decoration: none;
}

#navMenu a:hover {
  background-color: rgb(75, 85, 226);
  color: rgb(255, 255, 255);
}

#navMenu a:active {
  background-color: #7175af;
  color: white;
}

/*CENTRAL PANEL MENU */

#centralPanelMenu {
  background-color: #1554dd6e;
  border: 1px solid rgb(92, 93, 100);
  color: white;
  padding: 10px 24px; 
  float: left; 
}

#centralPanelMenu button {
  background-color: #0d75bb;
  border: none;
  color: white;
  padding: 2px 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  cursor:pointer;

}

#centralPanelMenu button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
#centralPanelMenu:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
#centralPanelMenu button:hover {
  background-color: #a59fca;
}

.red {
  color: red
}